{% extends 'printoapp/layout.html' %}
{% load static %}

{% block title %}Select Shop | MyPrints{% endblock %}

{% block body %}

{% block extra_head %}
<link href="{% static 'printoapp/shops.css' %}" rel="stylesheet">
{% endblock %}

<div class="sticky-header">
    <a href ="{% url 'index' %}"><img src="{% static 'printoapp/MyPrints_logo.svg' %}" alt="MyPrints Logo" class="nav-logo"><span class="mp-beta-badge">BETA</span></a>
</div>

{{ shops_json|json_script:"shops-data" }}


<div class="shops-container">
    <form action="{% url 'shops' %}" method="POST" class="shops_form">
        {% csrf_token %}
        <div id="shops-list">
            <p>Finding nearest shops...</p>
        </div>
    </form>
</div>
{% endblock %}
