lin-venv
win-venv
.env
printoapp/__pycache__
temp_folder
db.sqlite3
win7_env
venv
printoapp/shop_script_exe
printoapp/compile_copyright.py
printoapp/migrations
sqlite3.exe
SumatraPDF-3.5.2-64.exe
SumatraPDF-settings.txt
